:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #F8F4E3;
  background-color: #F8F4E3;
  background-image: url('./data/tree.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.tick{
  font-size: smaller;
  color: #2A2B2A;
}
.body{
  background-image: url('./data/tree.jpg');
}
a {
  font-weight: 500;
  color: #2A2B2A;
  text-decoration: inherit;
}
h2{
  color: #2A2B2A;
}
h3{
  color: #2A2B2A;
}
a:hover {
  color: #2A2B2A;
}
text{
  color: #2A2B2A;
}
p{
  color: #2A2B2A;
  font-family: Palatino;
  width:60%;
  align:center;
  text-align: justify;
  margin:auto;
}
body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #2A2B2A;
  font-family: Palatino;
}

.card {
  padding: 2em;
}

#app {
  max-width: 5280px;
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2A2B2A;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
